<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet_cookies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cookies</display-name>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>com.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addservlet</display-name>
    <servlet-name>Addservlet</servlet-name>
    <servlet-class>com.to.Addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addservlet</servlet-name>
    <url-pattern>/Addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finalservlet</display-name>
    <servlet-name>Finalservlet</servlet-name>
    <servlet-class>com.to.Finalservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finalservlet</servlet-name>
    <url-pattern>/Finalservlet</url-pattern>
  </servlet-mapping>
</web-app>